<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="riderLoginCss.css">
</head>
<body>
<form id="loginForm">
    <!--    <label for="email">Email:</label>-->
    <label for="email" class="highlight">Email:</label>
    <input type="email" id="email" name="email" required>

    <!--    <label for="password">Password:</label>-->
    <label for="password" class="highlight">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="button" onclick="submitForm()">Login</button>
</form>

<script src="riderLog.js"></script>
</body>
</html>
